extends ../extends/default.jade

block title
    title testsesdasdf asdf

block description
    meta(name='description', content='Yo')

append css
    // build:inlinecss
    link(rel='stylesheet' href='css/apply-debt-relief/apply-debt-relief.css')
    // endbuild

block prepend activeMenu
    - var activePage    = data.get_touch.en.href;
    - var english       = data.get_touch.en.href;
    - var afrikaans     = data.get_touch.af.href;

block main

    include ../partials/language.jade

    section(class='lb-hero_internal')

        picture
            source(srcset="#{path}/img/header-inner-2-mobile.jpg", media="(max-width: 1023px)")
            source(srcset="#{path}/img/header_inner_2.jpg", media="(min-width: 1024px)")
            img(src="#{path}/img/header-inner-2-mobile.jpg", alt="MDN")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            img(src='#{path}/svg/05-debt_mng.svg', width='120')
            img(src='#{path}/svg/13-trust.svg', width='120')
            h1 Apply for debt relief
            p(class='lb-content_main-text').
                Each case requires a detailed analysis and a fresh approach.
                Fill in the form below and we’ll give you the debt advice you need.

        section(class='lb-content lb-content_grey')

            form(class='lb-form')

                p(class="lb-form-section__text")
                    small All fields required

                div(class='lb-form-section lb-form-section--inline')
                    label(for='name', class='lb-form-label') Are you currently situated in the Western Cape?

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='name', class='lb-form-radio', id='yes')
                        label(for='yes', class='lb-form-label lb-form-label--inline') Yes

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='name', class='lb-form-radio', id='no')
                        label(for='no', class='lb-form-label lb-form-label--inline') No


                div(class='lb-form-section lb-form-section--inline')
                    label(for='name', class='lb-form-label') Do you feel at ease with your financial position?

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='name', class='lb-form-radio', id='yes')
                        label(for='yes', class='lb-form-label lb-form-label--inline') Yes

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='name', class='lb-form-radio', id='no')
                        label(for='no', class='lb-form-label lb-form-label--inline') No

                div(class='lb-form-section lb-form-section--inline')
                    label(for='name', class='lb-form-label') Have any of your accounts been in arrears?

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='name', class='lb-form-radio', id='yes')
                        label(for='yes', class='lb-form-label lb-form-label--inline') Yes

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='name', class='lb-form-radio', id='no')
                        label(for='no', class='lb-form-label lb-form-label--inline') No


                div(class='lb-form-section lb-form-section--inline')
                    label(for='name', class='lb-form-label') Do you have garnishees on your payslip?

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='name', class='lb-form-radio', id='yes')
                        label(for='yes', class='lb-form-label lb-form-label--inline') Yes

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='name', class='lb-form-radio', id='no')
                        label(for='no', class='lb-form-label lb-form-label--inline') No

                div(class='lb-form-section lb-form-section--inline')
                    label(for='name', class='lb-form-label') Are you blacklisted?

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='name', class='lb-form-radio', id='yes')
                        label(for='yes', class='lb-form-label lb-form-label--inline') Yes

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='name', class='lb-form-radio', id='no')
                        label(for='no', class='lb-form-label lb-form-label--inline') No


                div(class='lb-form-section lb-form-section--inline')
                    label(for='name', class='lb-form-label') Have your previously been under debt review?

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='name', class='lb-form-radio', id='yes')
                        label(for='yes', class='lb-form-label lb-form-label--inline') Yes

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='name', class='lb-form-radio', id='no')
                        label(for='no', class='lb-form-label lb-form-label--inline') No

                div(class='lb-form-section lb-form-section--inline')
                    label(for='name', class='lb-form-label') What is the total debt you owe?

                    div(class='lb-form-section--inline__container')
                        select(class="lb-form-interaction")
                            option Select an option
                            option R100 - R250 000
                            option R250 001 - R500 000
                            option R500 001 - R999 999
                            option R1 000 000+

                div(class='lb-form-section lb-form-section--inline')
                    label(for='name', class='lb-form-label') How many creditors do you have?

                    div(class='lb-form-section--inline__container')
                        select(class="lb-form-interaction")
                            option Select an option
                            option 1 - 10
                            option 11 - 20
                            option 20+

                div(class='lb-form-section lb-form-section--inline')
                    label(for='name', class='lb-form-label') Are you employed?

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='name', class='lb-form-radio', id='yes')
                        label(for='yes', class='lb-form-label lb-form-label--inline') Yes

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='name', class='lb-form-radio', id='no')
                        label(for='no', class='lb-form-label lb-form-label--inline') No

                div(class='lb-form-section lb-form-section--inline remove-border')
                    label(for='name', class='lb-form-label') Are you married?

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='name', class='lb-form-radio', id='yes')
                        label(for='yes', class='lb-form-label lb-form-label--inline') Yes

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='name', class='lb-form-radio', id='no')
                        label(for='no', class='lb-form-label lb-form-label--inline') No

                div(class='lb-form-section lb-form-section--inline')
                    label(for='name', class='lb-form-label') Full name

                    div(class='lb-form-section--inline__container')
                        input(type='text', name='name', class='lb-form-input lb-form-interaction', id='yes', placeholder="Joe Doe")

                div(class='lb-form-section lb-form-section--inline')
                    label(for='name', class='lb-form-label') Contact number

                    div(class='lb-form-section--inline__container')
                        input(type='text', name='name', class='lb-form-input lb-form-interaction', id='yes', placeholder="0722262925")

                div(class='lb-form-section lb-form-section--inline remove-border')
                    label(for='name', class='lb-form-label') Email address

                    div(class='lb-form-section--inline__container')
                        input(type='text', name='name', class='lb-form-input lb-form-interaction', id='yes', placeholder="email@example.co.za")

                div(class='lb-form-section')
                    div(class="lb-form-section__text lb-form-section__privacy") We respect your <a href="">privacy</a>.
                    button(type='submit' name='submit' class='lb-btn lb-btn_action lb-btn_action-pull-right') Get help you need

        section(class='lb-content lb-content_purple')

            div(class='lb-content-constraint')

                div(class='lb-testimonials lb-testimonials__row')

                    blockquote
                        p(class='lb-testimonials-text').
                            A friendly route to build a more financially stable future.

                    figcaption(class='lb-testimonials-figcaption').
                        Let us help you start today!