extends ../extends/default.jade

block title
    title Debt Contact Details | Debt Counselling Enquiry | Cape Town

block description
    meta(name='description', content='Contact us for help with debt. Debt enquiry are managed by our debt counsellors.')

append css
    // build:inlinecss
    link(rel='stylesheet' href='css/contact/contact.css')
    // endbuild

block variables
    - var activePage    = nav.contact.en.href;
    - var english       = nav.contact.en.href;
    - var afrikaans     = nav.contact.af.href;

block main

    section(class='lb-hero_internal')

        picture
            source(srcset="#{path}/img/header-inner-2-mobile.jpg", media="(max-width: 767px)")
            source(srcset="#{path}/img/header_inner_2.jpg", media="(min-width: 768px) and (max-width: 1499px)")
            source(srcset="#{path}/img/header_inner_2_big.jpg", media="(min-width: 1500px)")
            img(src="#{path}/img/header-inner-2-mobile.jpg", alt="Contact Us - Libertine Consultants")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            include ../../svgs/icon-07-contact.svg

            h1 Take control of your future by making the right choices today

            p.
                We are based in <strong>beautiful, iconic Cape Town</strong> and would love to sit down with you in person to <strong>discuss
                the unique aspects</strong> of your case over a cup of tea or coffee.


        section(class='lb-content lb-content_grey', itemscope, itemtype="http://schema.org/LocalBusiness")

            div(class='lb-content-constraint__large', data-height)

                div(class='lb-contact')

                    p(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress") <strong>Our office</strong><br>
                        span(itemprop="streetAddress") 4 Kruger Street <br>
                        span(itemprop="streetAddress") Lower Oakdale <br>
                        span(itemprop="addressLocality") Bellville <br>
                        span(temprop="addressRegion") Western Cape, South Africa <br>
                        span(itemprop="postalCode") 7530

                div(class='lb-contact')

                    p <strong>Opening hours</strong><br>
                        span(itemprop="openingHours" content="Mo-Fri 08:00-16:30") Monday - Friday <br>
                        span(itemprop="openingHours" content="Mo-Fri 08:00-16:30") 8:00am - 4:30pm <br>
                        span(itemprop="openingHours" content="Sat 08:00-12:30") Saturday <br>
                        span(itemprop="openingHours" content="Sat 08:00-12:30") 8:00am - 12:30pm

                div(class='lb-contact')

                    p <strong>General enquries</strong><br>
                        span Telephone:
                        span(itemprop="telephone") <a href='#{data.tel.href}' class="lb-link">#{data.tel.name}</a><br>
                        span Cell:
                        span(itemprop="telephone") <a href='#{data.cell.href}' class="lb-link">#{data.cell.name}</a><br>
                        span Email:
                        span <a href="#{data.email.href}" class="lb-link">#{data.email.name}</a>

        section(class='lb-content')

            div(class='lb-content-constraint__large', data-height)

                div(class='lb-contact')

                    p(class='lb-social') <strong>Get social with us</strong><br>

                        a(href='#{data.googlePlus.href}', target='_blank', class='lb-social-icon')
                            img(src='#{path}/svg/googleplus.svg', width='40')
                        a(href='#{data.facebook.href}', target='_blank', class='lb-social-icon')
                            img(src='#{path}/svg/facebook.svg', width='40')
                        a(href='#{data.twitter.href}', target='_blank', class='lb-social-icon')
                            img(src='#{path}/svg/twitter.svg', width='40')

                div(class='lb-contact')

                    p(class='lb-contact-title') <strong>Enquiry form</strong>

                    div(class='lb-cta')
                        a(href=path + data.get_touch.en.href, class='lb-btn') Get in Touch

        section(id='google-map', class='lb-map-canvas')

        section(class='lb-content lb-content_purple')

            include ../partials/cta/cta-red.jade

append js
    include ../partials/scripts/contact-script