extends ../extends/default.jade

block title
    title testsesdasdf asdf

block description
    meta(name='description', content='Yo')

append css
    // build:css css/home/home.min.css
    link(rel='stylesheet' href='css/contact/contact.css')
    // endbuild

block prepend activeMenu
    - var activePage = '/contact-us.html'

block main

    include ../partials/language.jade

    section(class='lb-grid')

        section(class='lb-hero_internal')

            picture
                source(srcset="/img/header-inner-2-mobile.jpg", media="(max-width: 1023px)")
                source(srcset="/img/header_inner_2.jpg", media="(min-width: 1024px)")
                img(src="/img/header-inner-2-mobile.jpg", alt="MDN")

    main(role='main', class='lb-internal')

        section(class='lb-container lb-container_medium-constrain lb-container-push lb-grid')

            div(class='lb-grid_u lb-grid_u-6 text-center')

                i(class='lb-icon lb-02-contact lb-icon-6')
                i(class='lb-icon lb-03-contact lb-icon-6')
                h1 Based in beautiful & iconic Cape Town
                p(class='lb-margin-bottom-none lb-description') You are most welcome to visit our office in person to discuss your case over a tea or coffee.


        section(class='lb-grid', itemscope, itemtype="http://schema.org/LocalBusiness")

            div(class='lb-container')

                div(class='lb-grid_u lb-grid_u-6 lb-grid_medium-u-2 lb-contact')

                    p(class='text-center-mobile lb-margin-bottom-none', itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress") <strong>Our office</strong><br>
                        span(itemprop="streetAddress") 4 Kruger Street <br>
                        span(itemprop="streetAddress") Lower Oakdale <br>
                        span(itemprop="addressLocality") Bellville <br>
                        span(temprop="addressRegion") Western Cape, South Africa <br>
                        span(itemprop="postalCode") 7530

                div(class='lb-grid_u lb-grid_u-6 lb-grid_medium-u-2 lb-contact')

                    p(class='text-center-mobile lb-margin-bottom-none') <strong>Opening hours</strong><br>
                        span(itemprop="openingHours" content="Mo-Fri 08:00-16:30") Monday - Friday <br>
                        span(itemprop="openingHours" content="Mo-Fri 08:00-16:30") 8:00am - 4:30pm <br>
                        span(itemprop="openingHours" content="Sat 08:00-12:30") Saturday <br>
                        span(itemprop="openingHours" content="Sat 08:00-12:30") 8:00am - 12:30pm

                div(class='lb-grid_u lb-grid_u-6 lb-grid_medium-u-2 lb-contact')

                    p(class='text-center-mobile lb-margin-bottom-none') <strong>General enquries</strong><br>
                        span Telephone:
                        span(itemprop="telephone") <a href='#{data.tel.href}'>#{data.tel.name}</a><br>
                        span Cell:
                        span(itemprop="telephone") <a href='#{data.cell.href}'>#{data.cell.name}</a><br>
                        span Email:
                        span <a href="#{data.email.href}">#{data.email.name}</a>

        section(class='lb-grid')

            div(class='lb-container')

                div(class='lb-grid_u lb-grid_u-6 lb-grid_medium-u-2 lb-contact')

                    p(class='lb-margin-bottom-none text-center-mobile lb-social') <strong>Get social with us</strong><br>

                        a(href='#{data.googlePlus.href}', target='_blank', class='lb-social-icon')
                            i(class='lb-icon lb-07-google-plus lb-icon-2')
                        a(href='#{data.facebook.href}', target='_blank', class='lb-social-icon')
                            i(class='lb-icon lb-06-facebook lb-icon-2')
                        a(href='#{data.twitter.href}', target='_blank', class='lb-social-icon')
                            i(class='lb-icon lb-14-twitter lb-icon-2')

                div(class='lb-grid_u lb-grid_u-6 lb-grid_medium-u-2 lb-contact text-center-mobile')

                    p(class='lb-margin-bottom-none') <strong>Enquiry form</strong><br>

                    div(class='lb-cta')
                        a(href='', class='lb-btn') Get in Touch

        section(id='google-map', class='lb-map-canvas')

append js
    parent()
    script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAh1zFtcxfOO8AKitdraeyUVHcz3txhHYk")
    script(type="text/javascript").
        function initialize() {

            var styles =
                [
                    {
                        "featureType": "administrative",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 20
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 40
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "saturation": -10
                            },
                            {
                                "lightness": 30
                            }
                        ]
                    },
                    {
                        "featureType": "landscape.man_made",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "simplified"
                            },
                            {
                                "saturation": -60
                            },
                            {
                                "lightness": 10
                            }
                        ]
                    },
                    {
                        "featureType": "landscape.natural",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "simplified"
                            },
                            {
                                "saturation": -60
                            },
                            {
                                "lightness": 60
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "off"
                            },
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 60
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "all",
                        "stylers": [
                            {
                                "visibility": "off"
                            },
                            {
                                "saturation": -100
                            },
                            {
                                "lightness": 60
                            }
                        ]
                    }
                ],

            // Create a new StyledMapType object, passing it the array of styles,
            // as well as the name to be displayed on the map type control.
            styledMap = new google.maps.StyledMapType(styles,
                {name: "Styled Map"}
            ),

            mapOptions = {
                center: { lat: -33.90076, lng: 18.63510},
                zoom: 16
            },

            map     = new google.maps.Map(document.getElementById('google-map'), mapOptions),

            image   = '/img/10-map_pointer.png';

            marker  = new google.maps.Marker({
                position: mapOptions.center,
                map: map,
                title: 'Libertine Consultants',
                scrollwheel: false,
                mapTypeControlOptions: {
                    mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
                },
                icon: image
            });

            //Associate the styled map with the MapTypeId and set it to display.
            map.mapTypes.set('map_style', styledMap);
            map.setMapTypeId('map_style');

        }
        google.maps.event.addDomListener(window, 'load', initialize);
