extends ../extends/default

block title
    title Credit Clearance | Credit Bureaux Report | Libertine Consultants

block description
    meta(name='description', content='Libertine Consultants provides quick, efficient credit clearance services at affordable rates. Start clearing your credit records today.')
    meta(name="keywords", content="credit,clearance,record,services,bureau,cape,town")

block variables
    - var activePage    = nav.debt.en.href;
    - var english       = nav.debt.en.href;
    - var afrikaans     = nav.debt.af.href;

block main

    section(class='lb-hero_internal')

        picture
            source(srcset=path + "/img/hr_debt-services-mobile.jpg", media="(max-width: 767px)")
            source(srcset=path + "/img/hr_debt-services.jpg", media="(min-width: 768px) and (max-width: 1499px)")
            source(srcset=path + "/img/hr_debt-services_big.jpg", media="(min-width: 1500px)")
            img(src=path + "/img/hr_debt-services-mobile.jpg", alt="Credit Clearance")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            include ../../svgs/icon-18-creditclearance.svg

            h1 Credit Record Clearance

            p(class='lb-content_main-text').
                Detailed analysis, fresh approach.<br>


        section(class='lb-content lb-content_grey text-center')

            p <strong>We offer a range of credit clearance services, including:</strong>

        section(class='lb-content')

            div(class='lb-content-constraint__large text-center')

                h2 Credit Checks

                p.
                    A credit check is essentially a report from a registered credit bureau that shows which of your accounts
                    are in arrears, which are paid up and if any of your accounts have judgments. When we do a <strong>credit
                    clearance</strong> (see below), the first thing we'll do is request a credit check to determine what must be done
                    to <strong>clear your record</strong>. Often it is as simple as making sure that your payments are made on time each
                    month, but sometimes we need to do a formal application to set aside a judgment.

        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')
                -var touch = 'Need to talk to us? <br> Advice on <strong>credit clearance services</strong> in <em>Cape Town</em>, South Africa <br> <span class="rating-desc" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"><span><strong itemprop="itemReviewed">Libertine Consultants</strong></span> <span>rated <span itemprop="ratingValue">4.9</span> / <span itemprop="bestRating">5</span> based on <span itemprop="reviewCount">28</span> reviews.</span></span></span>';
                include ../partials/cta/cta-touch

        section(class='lb-content')

            div(class='lb-content-constraint__large text-center')

                h2 Credit Clearance

                p.
                    If any of your accounts court judgments or adverse listings, it needs to be cleared to rehabilitate your
                    <strong>credit record</strong>. A judgment is a court order granted in your absence in the event that a summons has
                    been served on you and you did not defend the action or neglected to make suitable arrangements. A
                    judgment is a court order and, as such, it has to be set aside by the same court that granted it in order
                    for it to be removed from the <em>credit bureau's records</em>.

        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')
                -var touch = 'Need to talk about <em>clearing your credit record?</em> <br>Credit clearance in <strong>Cape Town</strong> and rest of South Africa';
                include ../partials/cta/cta-touch

        section(class='lb-content')

            div(class='lb-content-constraint__large text-center')

                h2 Setting aside of Administrations

                p.
                    An administration order is similar to <a href="#{path}#{data.review.en.href}">debt review</a>, except that there is a limit to the <strong>debt</strong> that may be put
                    under administration. It is often the best solution to remove garnishees from a person's salary and also
                    doesn't necessarily have to be a <strong>permanent debt solution</strong>. Once the consumer is able to manage their
                    own account (due to an increase in salary for instance) they are free to apply to the court that granted
                    the order to have it set aside.

        section(class='lb-content lb-content_purple')

            -var touch = 'Get in touch and start <strong>clearing your credit record</strong> in <strong>Cape Town</strong> to rest of South Africa';
            include ../partials/cta/cta-touch