extends ../extends/default

block title
    title Credit Clearance | Credit Bureaux Report | Libertine Consultants

block description
    meta(name='description', content='Libertine Consultants provides quick, efficient credit clearance services at affordable rates. Start clearing your credit records today.')
    meta(name="keywords", content="credit,clearance,record,services,bureau,cape,town")

block variables
    - var activePage    = nav.credit.en.href;
    - var english       = nav.credit.en.href;
    - var afrikaans     = nav.credit.af.href;

block main

    section(class='lb-hero_internal')

        picture
            source(srcset=path + "/img/hr_creditservices_mobile.jpg", media="(max-width: 767px)")
            source(srcset=path + "/img/hr_creditservices.jpg", media="(min-width: 768px) and (max-width: 1499px)")
            source(srcset=path + "/img/hr_creditservices_big.jpg", media="(min-width: 1500px)")
            img(src=path + "/img/hr_creditservices_mobile.jpg", alt="Credit clearance")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            include ../../svgs/ico_credit_clearance.svg

            h1 Credit clearance

            p(class='lb-content_main-text').
                Let's clean the slate &amp; set the record straight.<br>


        section(class='lb-content lb-content_grey text-center')

            div(class="lb-content-constraint__large")

                p.
                    When you've taken the necessary steps to take control of your finances, 
                    your <strong>credit record</strong> should reflect this positive lifestyle change. 
                    At Libertine Consultants, our <a href="#{path}#{data.analysis[lang].href}">credit analysis</a> services often uncover 
                    incorrect or outdated information that has been affecting our clients’ 
                    credit scores negatively. Once we have this information on hand, it 
                    becomes simple to address these inconsistencies. To clean the slate and 
                    set the record straight, we offer credit clearance services.

        section(class='lb-content')

            div(class='lb-content-constraint__large text-center')

                h2 Credit clearance

                p.
                    Have you gone through the <a href="#{path}#{data.review[lang].href}"><strong>debt review</strong></a> process but found that your <strong>credit record</strong> is not yet cleared? 
                    Or did a <a href="#{path}#{data.analysis[lang].href}">credit analysis</a> reveal that incorrect or outdated information negatively affects your <strong>credit score</strong>? 
                    We can help!

                p.
                    We assist clients in removing debt review and administration notices, as well as negative listings 
                    (such as judgments), from their <strong>credit profiles</strong>. To do so we require paid-up letters for all the 
                    accounts that were included in the debt review-, administration- or judgment process. If you do 
                    not have the necessary documentation at your disposal, we can help you to retrieve this information 
                    from the relevant sources.

                p.
                    We can also assist you if your <em>credit report</em> reflects outdated or incorrect information by disputing it 
                    with the relevant authorities and restoring your good name.

        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')
                -var touch = 'Need to talk to us? <br> Advice on <strong>credit clearance services</strong> in <em>Cape Town</em>, South Africa <br> <span class="rating-desc" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"><span><strong itemprop="itemReviewed">Libertine Consultants</strong></span> <span>rated <span itemprop="ratingValue">4.9</span> / <span itemprop="bestRating">5</span> based on <span itemprop="reviewCount">28</span> reviews.</span></span></span>';
                include ../partials/cta/cta-touch

        section(class='lb-content')

            div(class='lb-content-constraint__large text-center')

                h2 Understanding the lingo

                p.
                    The <strong>credit clearance</strong> industry is full of complicated, overlapping and often confusing terminology. 
                    Here is a quick overview of the terms that may be used on <strong>your credit record</strong>, and what it means:

        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')

                h2 Blacklisted

                p.
                    In simple terms, to be blacklisted means that credit providers will not give you credit because you were 
                    unable to repay previous debts and are now considered a high-risk debtor. 
                    Even when you settle the outstanding debts that lead to your blacklisting, <em>your credit profile</em> 
                    will remain tainted for between two to five years. 
                    <strong>Credit clearance</strong> will be required to removed this from your credit profile sooner.

        section(class='lb-content')

            div(class='lb-content-constraint__large text-center')
                -var touch = 'Need to talk about <em>clearing your credit record?</em> <br>Credit clearance in <strong>Cape Town</strong> and rest of South Africa';
                include ../partials/cta/cta-touch

        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')

                h2 Accounts in arrears

                p.
                    'Accounts in arrears' means that some of your scheduled payments have not been made, but that no legal 
                    action has been taken against you presently. You are still able to make arrangements with your credit 
                    providers directly to catch up with your payments and settle your debt, subject to an admin fine. 
                    <strong>Credit clearance</strong> will not be required.

        section(class='lb-content')

            div(class='lb-content-constraint__large text-center')

                h2 Accounts in default

                p.
                    'Accounts in default' means that your creditors have handed over your debt to attorneys. 
                    In basic terms, your creditors have lost faith in your ability to pay your debt and feel that it 
                    would cost them to much to recover it. This will reflect on your credit record for two years.
                    <em>Credit clearance</em> will be required to removed this from your credit profile sooner.

        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')

                h2 Judgements

                p.
                    A judgement against your name means that your creditors have taken legal action – debts of less than 
                    R100 000 are handled by the magistrate's court, while larger debts are managed by the high court. 
                    These are serious charges that will show up on <strong>your credit profile</strong> for up to five years if you do 
                    not pay off your debt. <em>Credit clearance</em> will be required to removed this from your credit profile sooner.

        section(class='lb-content')

            div(class='lb-content-constraint__large text-center')
                -var touch = 'Need to talk about <em>clearing your credit record?</em> <br><em>Credit clearance</em> in <strong>Cape Town</strong> and rest of South Africa';
                include ../partials/cta/cta-touch

        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')

                h2 Administration order

                p.
                    An administration order is similar to debt review, except that there is a limit to the debt that may be 
                    put under administration. This is the best option if you want to remove garnishees from your salary, 
                    and it doesn’t have to be forever. If you get to a point where you can manage your own account, 
                    due to an increase in salary for instance, you can apply to the court who granted the order to have 
                    it removed from your record. <strong>Credit clearance</strong> will be required to removed this from your credit profile sooner.

        section(class='lb-content lb-content_purple')

            -var touch = 'Get in touch and start <strong>clearing your credit record</strong> in <strong>Cape Town</strong> to rest of South Africa';
            include ../partials/cta/cta-touch


//-         section(class='lb-content')

//-             div(class='lb-content-constraint__large text-center')

//-                 h2(class="js-form") Credit clearance application form

//-                 p.
//-                     Start your credit clearance application by completing the form below. After you submit this form we'll be in touch.

//-         section(class='lb-content lb-content_grey')

//-             form(class='lb-form lb-apply', novalidate, method='post', action='/php/credit.clearance.form.php', id='credit_clearance')

//-                 div(class='lb-form-section')
//-                     label(for='name', class='lb-form-label') Name
//-                     input(type='text', name='name', placeholder='Joe', class='lb-form-input', id='name', autocomplete='given-name', data-form, required)

//-                 div(class='lb-form-section')
//-                     label(for='surname', class='lb-form-label') Surname
//-                     input(type='text', name='surname', placeholder='Doe', class='lb-form-input', id='surname', autocomplete='family-name', data-form, required)

//-                 div(class='lb-form-section')
//-                     label(for='idNumber', class='lb-form-label') ID Number
//-                     input(type='text', name='idNumber', placeholder='8501016184086', class='lb-form-input', id='idNumber', autocomplete='id',  data-form="idNumber", required)


//-                 div(class='lb-form-section')
//-                     label(for='email' class='lb-form-label') Email address
//-                     input(type='text', name='email', placeholder='joedoe@example.co.za' class='lb-form-input' id='email', data-form="email", autocomplete='email', required)

//-                 div(class='lb-form-section')
//-                     label(for='number' class='lb-form-label') Contact number
//-                     input(type='text' name='number' placeholder='0792838000' class='lb-form-input' id='number', data-form="email", autocomplete='tel', required)

//-                 div(class='lb-form-section lb-form-section')
//-                     label(for='employed', class='lb-form-label') Your preferred contact method?

//-                     input(type='radio', name='contactMethod', checked="checked" value='phone', class='lb-form-radio js-phoneCo', id='phoneCo', data-form, required)
//-                     label(for='phoneCo', class='lb-form-label lb-form-label--inline pr-1') Phone

//-                     input(type='radio', name='contactMethod', value='email', class='lb-form-radio js-emailCo', id='emailCo', data-form, required)
//-                     label(for='emailCo', class='lb-form-label lb-form-label--inline') Email

//-                 div(class='lb-form-section js-callMe')
//-                     label(for='callat' class='lb-form-label') Call me
//-                     select(class="lb-form-select", name='callAt', id='callat', data-form)
//-                         option(value='Western Cape') Western Cape
//-                         option(value='Eastern Cape') Eastern Cape
//-                         option(value='Northern Cape') Northern Cape
//-                         option(value='North West') North West
//-                         option(value='Evening') Evening

//-                 div(class='lb-form-section lb-form-section--inline')
//-                     label(for='employed', class='lb-form-label') Are you employed?

//-                     div(class='lb-form-section--inline__container')
//-                         input(type='radio', name='employed', value='yes', class='lb-form-radio', id='employed', data-form, required)
//-                         label(for='employed', class='lb-form-label lb-form-label--inline') Yes

//-                     div(class='lb-form-section--inline__container')
//-                         input(type='radio', name='employed', value='no', class='lb-form-radio', id='employed_no', data-form, required)
//-                         label(for='employed_no', class='lb-form-label lb-form-label--inline') No

//-                 div(class='lb-form-section lb-form-section--inline')
//-                     label(for='legalAction', class='lb-form-label') Has a credit provider taken legal action against you?

//-                     div(class='lb-form-section--inline__container')
//-                         input(type='radio', name='legalAction', value='yes', class='lb-form-radio', id='legalAction', data-form, required)
//-                         label(for='legalAction', class='lb-form-label lb-form-label--inline') Yes

//-                     div(class='lb-form-section--inline__container')
//-                         input(type='radio', name='legalAction', value='no', class='lb-form-radio', id='legalAction_no', data-form, required)
//-                         label(for='legalAction_no', class='lb-form-label lb-form-label--inline') No

//-                 div(class='lb-form-section js-callMe')
//-                     label(for='callat' class='lb-form-label') Are you currently situated?
//-                     select(class="lb-form-select", name='callAt', id='callat', data-form)
//-                         option(value='ASAP') ASAP
//-                         option(value='Morning') Morning
//-                         option(value='Mid-day') Mid-day
//-                         option(value='Mpumalanga') Mpumalanga
//-                         option(value='Limpopo') Limpopo
//-                         option(value='Free State') Free State
//-                         option(value='Gauteng') Gauteng
//-                         option(value='KwaZulu-Natal') KwaZulu-Natal

//-                 div(class='lb-form-section lb-form-section--hidden')
//-                     button(type='hidden', name='formName', value='credit analysis')
//-                     button(type='hidden', name='isBot', value='')

//-                 div(class='lb-form-section')
//-                     div(class="g-recaptcha" data-sitekey="6LckhBYTAAAAAM_zKRSQ1M9hhgBXavvnHjKbUvTz")
                
//-                 div(class='lb-form-section error-js', style='clear: both;')

//-                 div(class='lb-form-section', style='position: relative;')

//-                     button(type='submit', name='submit', class='lb-btn lb-btn_action lb-btn_action-pull-right submit-btn-js') Submit

//-                     div(class='spinner')
//-                         div(class='double-bounce1')
//-                         div(class='double-bounce2')

//- append js
//-     include ../partials/scripts/forms-script
//-     script(src='https://www.google.com/recaptcha/api.js')
//-     script.
//-         document.querySelector('.js-phoneCo').addEventListener('click', function(e) {
//-              document.querySelector('.js-callMe').classList.remove('lb-hide')
//-         })
//-         document.querySelector('.js-emailCo').addEventListener('click', function(e) {
//-              document.querySelector('.js-callMe').classList.add('lb-hide')
//-         })
//-         document.querySelector('.js-to-form').addEventListener('click', function(e) {
//-             e.preventDefault()
//-             document.querySelector('.js-form').scrollIntoView()
//-         })