extends ../extends/default

block title
    title Debt counselling Company in Cape Town - Libertine Consultants

block description
    meta(name='description', content='Find the best debt counselling in Cape Town. We are Cape Town’s largest debt counselling organization which can reduce the amount you pay each month to your creditors. Take back control of your finances with Libertine Consultants.')
    meta(name="keywords", content="debt,counselling,process,counseling,company,cape,town")

block variables
    - var activePage    = nav.debt.en.href;
    - var english       = nav.debt.en.href;
    - var afrikaans     = nav.debt.af.href;

block main

    section(class='lb-hero_internal')

        picture
            source(srcset=path + "/img/hr_debt-services-mobile.jpg", media="(max-width: 767px)")
            source(srcset=path + "/img/hr_debt-services.jpg", media="(min-width: 768px) and (max-width: 1499px)")
            source(srcset=path + "/img/hr_debt-services_big.jpg", media="(min-width: 1500px)")
            img(src=path + "/img/hr_debt-services-mobile.jpg", alt="Debt Counselling")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            include ../../svgs/icon-16-debtcounselling.svg

            h1 Debt counselling

            p(class='lb-content_main-text').
                Empower yourself through proper <strong>debt counselling</strong>.


        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')

                h2 What exactly is <em>debt counselling</em>?

                p.
                    Simply put, <strong>debt counseling</strong> is the process by which a qualified professional sits down with you to
                    analyse your <strong>budget and draw up a manageable repayment plan</strong> to settle your outstanding accounts.

                p.
                    To start with we'll compare your monthly income to your set monthly expenses to <strong>determine where
                    your money is going</strong> to and ensure that you are able to <strong>take care of yourself and your family</strong> while you
                    <strong>settle your debts</strong>.

        section(class='lb-content')

            div(class='lb-content-constraint__large text-center')

                include ../partials/cta/cta-touch

        section(class='lb-content text-center lb-content_grey')

            div(class='lb-content-constraint__large')

                p.
                    This gives us the necessary perspective to determine where we can make adjustments
                    to <strong>improve your cash flow</strong>. Once your budget has been finalised, we then look at how we will divide the
                    rest between your creditors.

                p.
                    The entire process of applying for <strong>debt counseling</strong> normally takes no longer than 60 working days and starts
                    with the completion of a form (Form 16), which allows Libertine Consultants to apply for a <strong>court order
                    on your behalf</strong> that allows us to <strong>restructure your debt repayments</strong>.
                    
                    
        section(class='lb-content text-center')

            div(class='lb-content-constraint__large')

                p.
                    Please see our <a href="#{path + data.faqCounselling.en.href}">debt counselling faq's</a> page for more questions and answers regarding <strong>debt counseling</strong>.


        section(class='lb-content lb-content_purple')

            include ../partials/cta/cta-red
