extends ../extends/default.jade

block title
    title testsesdasdf asdf

block description
    meta(name='description', content='Yo')

append css
    // build:inlinecss
    link(rel='stylesheet' href='css/debt/debt.css')
    // endbuild

block variables
    - var activePage    = nav.debt.en.href;
    - var english       = nav.debt.en.href;
    - var afrikaans     = nav.debt.af.href;

block main

    section(class='lb-hero_internal')

        picture
            source(srcset="#{path}/img/hr_debt-services-mobile.jpg", media="(max-width: 767px)")
            source(srcset="#{path}/img/hr_debt-services.jpg", media="(min-width: 768px)")
            img(src="#{path}/img/hr_debt-services-mobile.jpg", alt="Debt service")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            img(src='#{path}/svg/05-debt_mng.svg', width='120')
            img(src='#{path}/svg/04-debt_mng.svg', width='120')
            h1 Debt services
            p(class='lb-content_main-text').
                Each case requires a detailed analysis and a fresh approach. Fill in the form below and we’ll give you the debt advice
                you need.

            include ../partials/cta/cta-red.jade


        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint lbServiceJS')

                div(class='lbService')

                    img(src='#{path}/svg/11-trust.svg', width='120')

                    h2(class='lbService_title')
                        a(href='') Debt Consolidation

                    p(class="lbService_description") Recovering money for our clients <strong>since 2007</strong> - Company no 2008/148827/23

                    div(class="lbService_bottom")

                div(class='lbService')

                    div(class="lbService_image")
                        img(src='#{path}/svg/11-trust.svg', width='120')

                    h2(class='lbService_title')
                        a(href='') Debt Review

                    p(class="lbService_description") Over <strong>R235,000,000</strong> recovered for our clients last year. Helped over <strong>600+ individuals</strong> take control back.

                    div(class="lbService_bottom")

                div(class='lbService lbService--last')

                    img(src='#{path}/svg/11-trust.svg', width='120')

                    h2(class='lbService_title')
                        a(href='') Debt Counselling

                    p(class="lbService_description") Our <strong>accomplished and dedicated team</strong> provides the debt advice you need

                    div(class="lbService_bottom lbService_bottom--last")

        section(class='lb-content text-center')

            img(src='#{path}/svg/05-debt_mng.svg', width='120')

            h2(class='lb-service-title')
                a(href='') Debt Management

            p Our <strong>accomplished and dedicated team</strong> provides the debt advice you need

            div(class='lb-cta lb-cta_center')

                p
                    small Find out more details about debt management

                a(href=path + nav.debt.en.href class='lb-btn') more in debt management


        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint')

                div(class='lbService')

                    img(src='#{path}/svg/11-trust.svg', width='120')

                    h2(class='lbService_title')
                        a(href='') Debt Consolidation

                    p(class="lbService_description") Recovering money for our clients <strong>since 2007</strong> - Company no 2008/148827/23

                    a(href="", class="lbService_link")

                div(class='lbService')

                    div(class="lbService_image")
                        img(src='#{path}/svg/11-trust.svg', width='120')

                    h2(class='lbService_title')
                        a(href='') Debt Review

                    p(class="lbService_description") Over <strong>R235,000,000</strong> recovered for our clients last year. Helped over <strong>600+ individuals</strong> take control back.

                    a(href="", class="lbService_link")

                div(class='lbService')

                    img(src='#{path}/svg/11-trust.svg', width='120')

                    h2(class='lbService_title')
                        a(href='') Debt Counselling

                    p(class="lbService_description") Our <strong>accomplished and dedicated team</strong> provides the debt advice you need

                    a(href="", class="lbService_link")

        section(class='lb-content')

            include ../partials/cta/cta-red.jade