extends ../extends/default.jade

block title
    title Libertine Consultants | Debt management

block description
    meta(name='description', content='At Libertine Consultants our debt counselling process includes support before, during and after your case. We tailor our approach to ensure your success.')

block variables
    - var activePage    = path + data.management.href
    - var english       = path + data.management.en.href
    - var afrikaans     = path + data.management.af.href

block main

    section(class='lb-hero_internal')

        picture
            source(srcset="#{path}/img/hr_general2_mobile.jpg", media="(max-width: 767px)")
            source(srcset="#{path}/img/hr_general2.jpg", media="(min-width: 768px)")
            source(srcset="#{path}/img/hr_general2_big.jpg", media="(min-width: 1500px)")
            img(src="#{path}/img/hr_general2_mobile.jpg", alt="Privacy Policy")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            img(src='#{path}/svg/13-trust.svg', width='120')

            h1 Debt management

            p(class='lb-content_main-text').
                We are currently crafting this page.


        section(class='lb-content lb-content_grey')

            include ../partials/cta/cta-red

