extends ../extends/default.jade

block title
    title Libertine Consultants | Debt Review | Debt Review Companies | Cape Town

block description
    meta(name='description', content='At Libertine Consultants our debt counselling process includes support before, during and after your case. We tailor our approach to ensure your success.')

block variables
    - var activePage    = nav.debt.en.href;
    - var english       = nav.debt.en.href;
    - var afrikaans     = nav.debt.af.href;

block main

    section(class='lb-hero_internal')

        picture
            source(srcset="#{path}/img/hr_debt-services-mobile.jpg", media="(max-width: 767px)")
            source(srcset="#{path}/img/hr_debt-services.jpg", media="(min-width: 768px) and (max-width: 1499px)")
            source(srcset="#{path}/img/hr_debt-services_big.jpg", media="(min-width: 1500px)")
            img(src="#{path}/img/hr_debt-services-mobile.jpg", alt="Debt Review")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            include ../../svgs/icon-15-debtreview.svg

            h1 Debt review

            p(class='lb-content_main-text').
                Empower yourself through proper <strong>debt review</strong>.


        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')

                h2 What you should expect from the debt review process

                p.
                    Debt review is a dynamic process that requires absolute <strong>trust and honesty</strong> between the debt counsellor
                    and the individual seeking debt review. It is imperative that you divulge the information the counsellor
                    requires truthfully so they may correctly interpret your unique circumstances and <strong>provide the best
                    solution</strong>.

                p.
                    Once the counsellor has all the information they require they can then obtain updates balances from
                    your creditors, work out a payment proposal and start the <strong>debt review process</strong>. All you have to do
                    during this time is keep up with your payments* to the <a href="#{path + data.management.en.href}" class="lb-link">debt management company</a> appointed by your
                    counsellor.

        section(class='lb-content lb-content--fine')

            div(class='lb-content-constraint lb-fine-print text-center')

                p.
                    *Please note that this amount is subject to change pending the negotiations with your creditors.

        section(class='lb-content lb-content_grey')

            include ../partials/cta/cta-touch

        section(class='lb-content text-center')

            div(class='lb-content-constraint__large')

                p.
                    The ideal result of a debt review is a court order that restructures your total debt obligations, resulting
                    in extended contractual terms and a <strong>single lowered monthly instalment</strong> paid via a registered payment
                    distribution agency. The agency then pays your creditors on your behalf according to the specifics of the
                    court order until such time that your <strong>debt is paid in full</strong> or you are caught up with the arrears and
                    capable of <strong>managing your own debt</strong>.

                p.
                    By partnering with our efficient, <strong>compassionate debt counsellors</strong> you'll ensure an open line of
                    communication that will result in a smooth debt management process and timely settlement of your
                    accounts.


        section(class='lb-content lb-content_purple')

            include ../partials/cta/cta-red