extends ../extends/default.jade

block title
    title Libertine Consultants | Debt Services | Cape Town

block description
    meta(name='description', content='We offer a wide range of debt services with excellent advice. Debt solutions will vary depending on your financial situation')

append css
    // build:inlinecss
    link(rel='stylesheet' href='css/debt/debt.css')
    // endbuild

block variables
    - var activePage    = nav.debt.en.href;
    - var english       = nav.debt.en.href;
    - var afrikaans     = nav.debt.af.href;

block main

    section(class='lb-hero_internal')

        picture
            source(srcset="#{path}/img/hr_debt-services-mobile.jpg", media="(max-width: 767px)")
            source(srcset="#{path}/img/hr_debt-services.jpg", media="(min-width: 768px)")
            img(src="#{path}/img/hr_debt-services-mobile.jpg", alt="Debt service")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            img(src='#{path}/svg/05-debt_mng.svg', width='120')
            img(src='#{path}/svg/04-debt_mng.svg', width='120')
            h1 Debt services
            p(class='lb-content_main-text').


            include ../partials/cta/cta-red.jade


        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint lbServiceJS')

                div(class='lbService')

                    img(src='#{path}/svg/11-trust.svg', width='120')

                    h2(class='lbService_title lb-link')
                        a(href=path + data.consolidation.en.href) #{data.consolidation.en.name}

                    p(class="lbService_description") interpret your unique circumstances and provides the best solution.

                    div(class="lbService_bottom")

                div(class='lbService')

                    div(class="lbService_image")
                        img(src='#{path}/svg/11-trust.svg', width='120')

                    h2(class='lbService_title lb-link')
                        a(href=path + data.review.en.href) #{data.review.en.name}

                    p(class="lbService_description") Allows you to manage all of your debts in one simple payment.

                    div(class="lbService_bottom")

                div(class='lbService lbService--last')

                    img(src='#{path}/svg/11-trust.svg', width='120')

                    h2(class='lbService_title lb-link')
                        a(href=path + data.counselling.en.href) #{data.counselling.en.name}

                    p(class="lbService_description") take care of yourself and your family while you settle your debts.

                    div(class="lbService_bottom lbService_bottom--last")

        section(class='lb-content text-center')

            img(src='#{path}/svg/05-debt_mng.svg', width='120')

            h2(class='lb-service-title')
                a(href=path + data.sequestrations.en.href) #{data.sequestrations.en.name}

            p Our <strong>accomplished and dedicated team</strong> provides the debt advice you need

            div(class='lb-cta lb-cta_center')

                p
                    small Find out more details about debt management

                a(href=path + nav.debt.en.href class='lb-btn') more in debt management


        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint')

                div(class='lbService')

                    img(src='#{path}/svg/11-trust.svg', width='120')

                    h2(class='lbService_title lb-link')
                        a(href=path + data.admin.en.href) #{data.admin.en.name}

                    p(class="lbService_description") offers better protection against creditors' claims.

                div(class='lbService')

                    div(class="lbService_image")
                        img(src='#{path}/svg/11-trust.svg', width='120')

                    h2(class='lbService_title lb-link')
                        a(href=path + data.credit.en.href) #{data.credit.en.name}

                    p(class="lbService_description") We offer a range of credit clearance services.

                div(class='lbService')

                    img(src='#{path}/svg/11-trust.svg', width='120')

                    h2(class='lbService_title lb-link')
                        a(href=path + data.voluntary.en.href) #{data.voluntary.en.name}

                    p(class="lbService_description") We make the payments to your creditors on your behalf.

        section(class='lb-content')

            include ../partials/cta/cta-red.jade