extends ../extends/default.jade

block title
    title Libertine Consultants | Get in touch

block description
    meta(name='description', content='You are under no obligations to proceed with any services by getting in touch.')

append css
    // build:inlinecss
    link(rel='stylesheet' href='css/get-in-touch/get-in-touch.css')
    // endbuild

block variables
    - var activePage    = data.get_touch.en.href;
    - var english       = data.get_touch.en.href;
    - var afrikaans     = data.get_touch.af.href;

block main

    section(class='lb-hero_internal')

        picture
            source(srcset="#{path}/img/hr_get-in-touch-mobile.jpg", media="(max-width: 767px)")
            source(srcset="#{path}/img/hr_get-in-touch.jpg", media="(min-width: 768px) and (max-width: 1499px)")
            source(srcset="#{path}/img/hr_get-in-touch_big.jpg", media="(min-width: 1500px)")
            img(src="#{path}/img/hr_get-in-touch-mobile.jpg", alt="Get in touch with Libertine Consultants")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            img(src='#{path}/svg/05-debt_mng.svg', width='120')
            img(src='#{path}/svg/13-trust.svg', width='120')

            h1 Get in touch

            p(class='lb-content_main-text').
                This is our general enquiry form.

            p.
                Fill in the form below and start a discussion.<br> <small>You are under no obligations to proceed with any services by getting in touch.</small>


        section(class='lb-content lb-content_grey')

            form(class='lb-form lb-apply', novalidate, method='post', action='/php/email.php')

                div(class='lb-form-section')
                    label(for='fullName', class='lb-form-label') Full name
                    input(type='text', name='fullName', placeholder='Joe Doe', class='lb-form-input', id='fullName', data-form, required)

                div(class='lb-form-section')
                    label(for='email' class='lb-form-label') Email address
                    input(type='text', name='email', placeholder='joedoe@example.co.za' class='lb-form-input' id='email', data-form="email", required)

                div(class='lb-form-section')
                    label(for='number' class='lb-form-label') Contact number
                    input(type='text' name='number' placeholder='0792838000' class='lb-form-input' id='number', data-form, required)

                div(class='lb-form-section')
                    label(for='enquiry' class='lb-form-label') Getting in touch regarding
                    textarea(name='enquiry', placeholder='I need you to help me with my current debtors.', class='lb-form-textarea', id='enquiry', data-form, required)

                div(class='lb-form-section lb-form-section--hidden')
                    button(type='hidden', name='formName', value='get in touch')
                    button(type='hidden', name='isBot', value='')

                div(class='lb-form-section')
                    button(type='submit', name='submit', class='lb-btn lb-btn_action lb-btn_action-pull-right') Submit

        section(class='lb-content lb-content_purple')

            div(class='lb-testimonials lb-testimonials__row')

                blockquote
                    p(class='lb-testimonials-text').
                        We are happy to say that through their dedication and our commitment we are now debt free!

                figcaption(class='lb-testimonials-figcaption').
                    Mr & Mrs Wessels, Cape Town

append js
    include ../partials/scripts/forms-script