extends ../extends/default.jade

block title
    title Libertine Consultants | Debt | Debt Counselling | Debt Consolidation

block description
    meta(name='description', content='Libertine Consultants offers effective, compassionate debt services in Cape Town, South Africa.')

append css
    // build:inlinecss
    link(rel='stylesheet' href='css/home/home.css')
    // endbuild

block variables
    - var activePage    = path + data.home.en.href;
    - var english       = path + data.home.en.href;
    - var afrikaans     = path + data.home.af.href;


block main

    section(class='lb-hero')

        div(class='lb-hero-constraint')

            div(class='lb-hero_container')

                h1(class='lb-hero-title animate-title') Debt counselling done properly

                p(class='lb-hero-text animate-description') Support before, during and after debt counselling ensures that individuals have the best opportunity for success.

                div(class='lb-cta lb-cta_center lb-cta_large-left animate-description')

                    a(href=path + nav.debt.en.href class='lb-btn lb-btn_push-right lb-btn--none-bottom') Find Out More

                    a(href=path + data.apply.en.href class='lb-btn lb-btn_action lb-btn--none-bottom') Get Help you Need

                    p(class='lb-cta-text')
                        small Need to talk to us? Call <a href='#{data.tel.href}')> #{data.tel.name}</a> for advice

    main(role='main')

        section(class='lb-content')

            div(class='lb-content-constraint__large')

                div(class='text-center')

                    img(src='#{path}/svg/13-trust.svg', width='120')
                    include ../../svgs/13-trust1.svg

                    h2 Debt management

                    p.
                        Accepting the fact that you need to go under <a href="#{path + data.management.en.href}" class="lb-link"><strong>debt management</strong></a> to take back control of your finances
                        can be a bitter pill to swallow, but when you partner with <strong>Libertine Consultants</strong> you can rest assured
                        that your case will be handled <strong>discreetly, efficiently</strong> and with the <strong>utmost professionalism</strong>. Our team of <strong>debt management professionals</strong> are ready to help you
                        make sense of your finances and live unburdened by the stress and <strong>pressure of debt</strong>.

                    div(class='lb-cta lb-cta_center')

                        p
                            small Find out more about debt management.

                        a(href=path + data.management.en.href, class='lb-btn') more in debt management

        section(class='lb-content lb-content_purple')

            div(class='lb-content-constraint lb-relative')

                div(class='lb-testimonials')

                    blockquote(class='lb-bar')
                        p(class='lb-testimonials-text').
                            <a href='#{path + data.review.en.href}'><strong>Debt review</strong></a> made a world of difference in my life although it was hard to accept in the
                            beginning. This is one of the <strong>best decisions<strong> I made in my life.

                    figcaption(class='lb-testimonials-figcaption').
                        Geraldo – client of Libertine Consultants

                div(class='lb-testimonials_cta lb-testimonials_cta-absolute')

                    div(class='lb-cta lb-cta_center')

                        p
                            small Take control of finances and simplify your life

                        a(href=path + data.apply.en.href class='lb-btn lb-btn_white') Get Started
                    

        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large')

                    div(class='text-center')

                        img(src='#{path}/svg/04-debt_mng.svg', width='120')

                        h2 Workshops

                        p.
                            At <strong>Libertine Consultants</strong> we believe that prevention is better than cure, which is why we <a href="#{path}#{nav.workshops.en.href}" class="lb-link">offer
                            workshops</a> on <strong>budgeting and finance free</strong> of charge to <strong>businesses and community initiatives</strong> every
                            Wednesday. <a href="#{path}#{nav.contact.en.href}" class="lb-link">Contact us</a> to book a slot and to find out more about our workshop content and schedules.


        section(class='lb-content')

            div(class='lb-content-constraint__large')

                include ../partials/cta/cta-touch


        section(class='lb-content text-center lb-content_grey')

            div(class='lb-content-constraint')

                div(class='lb-stats')

                    img(src='#{path}/svg/11-trust.svg', width='120')

                    p <strong>Saving money</strong> for our clients <strong>since 2007</strong> - Company no 2008/148827/23

                div(class='lb-stats')

                    img(src='#{path}/svg/12-trust.svg', width='120')

                    p We're dealt with over <strong>R100,000,000</strong> in settlements for our clients

                div(class='lb-stats')

                    img(src='#{path}/svg/13-trust.svg', width='120')

                    p Our <strong>accomplished and dedicated team</strong> has assisted over <strong>1100 clients</strong>

                div(class='lb-stats')

                    img(src='#{path}/svg/NCR_logo.svg', width='120')

                    p Registered with the <a href="http://www.ncr.org.za" class="lb-link" target="_blank"><strong>National Credit Regulator</strong></a> - number NCRDC592

        section(class='lb-content')

            include ../partials/cta/cta-red.jade

append js
    include ../partials/scripts/home-script.jade