extends ../extends/default

block title
    title Prescribed Debt | Prescription Debt | Libertine Consultants

block description
    meta(name='description', content='Debt that a debtor is no longer obliged to pay off.')
    meta(name="keywords", content="debt,prescribed,prescription,company,cape,town")

block variables
    - var activePage    = nav.debt.en.href;
    - var english       = nav.debt.en.href;
    - var afrikaans     = nav.debt.af.href;

block main

    section(class='lb-hero_internal')

        picture
            source(srcset=path + "/img/hr_debt-services-mobile.jpg", media="(max-width: 767px)")
            source(srcset=path + "/img/hr_debt-services.jpg", media="(min-width: 768px) and (max-width: 1499px)")
            source(srcset=path + "/img/hr_debt-services_big.jpg", media="(min-width: 1500px)")
            img(src=path + "/img/hr_debt-services-mobile.jpg", alt="Debt Review")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            include ../../svgs/icon-15-debtreview.svg

            h1 Prescribed Debt

            p(class='lb-content_main-text').
                In South Africa, the term ‘<strong>prescription debt</strong>’ refers to old or expired debt, i.e. debt that a debtor is no longer obliged to pay off because it had not been acknowledged over a specified period. 


        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')

                p.
                    If a credit provider does not demand payment from you, start legal action against you or 
                    communicate with you in any way within the specified period, a <strong>debt becomes prescribed</strong>. 
                    That means it has essentially been cancelled and the credit provider loses his right to claim payment on the debt. 
                
                p.
                    The purpose of <em>prescription</em> is to ensure that credit providers and debt collectors collect money owed to them 
                    within a specified period and do not delay recovery of funds to such an extent that it accumulates massive amounts of interest and costs.

                p. 
                    Unscrupulous debt collectors take over this type of debt specifically because it is so difficult for 
                    creditors to recover. For the collector, there is a higher return on investment when collecting 
                    <em>prescribed debt</em> because the interest, recovery costs, legal fees, etc. are all added to the outstanding debt amount.


        section(class='lb-content')

            div(class='lb-content-constraint__large text-center')

                h2 What does the law say?

                p.
                    <a href="https://www.gov.za/documents/national-credit-amendment-act" target="_blank">The National Credit Amendment Act</a>, 
                    published 13 March 2015, prohibits the <strong>sale and collection of prescribed debt</strong>.

                p. 
                    In addition, the <a href="https://sagc.org.za/pdf/legislation/Prescription%20Act%2068%20of%201969.pdf" target="_blank">Prescription Act 68 of 1969</a>, which was enacted in South Africa in 1968, enforces the 
                    regulation of prescription and states that debt can be considered as prescribed if the following requirements occur:

                ul

                    li.
                        A credit provider has not claimed payment, sent a letter of demand or issued a summons.

                    li UA consumer has not made any payments or acknowledged the debt directly or indirectly for the time periods specified below:


        section(class='lb-content lb-content_grey')
            -var touch = 'Need to talk to us? <br> Advice on <em>prescribed debt</em> in <em>Cape Town</em>, South Africa';   
            include ../partials/cta/cta-touch


        section(class='lb-content text-center')

            div(class='lb-content-constraint__large')

                p.
                    Personal loans, PAY-DAY loans, Telkom accounts, credit cards, retail accounts, and vehicle loans - 3 years

                p.
                    Mortgage loans, TV Licenses, judgement debts by court orders and money 
                    owed to the South African Revenue Service (SARS) -  30 years


        section(class='lb-content lb-content_grey')
            -var apply = 'Get in touch and start <strong>prescribed debt</strong> in <strong>Cape Town</strong> and the rest of South Africa';
            include ../partials/cta/cta-red

        section(class='lb-content')

            div(class='lb-content-constraint__large  text-center')

                h2 What are my rights in terms of <em>prescribed debt</em>? 

                p.
                    If a debt has been dormant for the specified period, a debt collector cannot ask you for payment. 
                    It is against the law if they do.

                p. 
                    If you suspect that someone is harassing you and demanding payment from you on a <strong>prescribed debt</strong>, 
                    raise prescription as a defense and refuse to make payment until the debt collector provides 
                    evidence that the <strong>debt is not prescribed</strong>.

                h3 When does <em>prescribed debt</em> not apply?

                p. 
                    The credit provider can provide reasonable evidence that they tried to contact you during the prescription period.<br />
                    You acknowledge the debt, or make a payment on the debt.<br />
                    The creditor takes legal action against you.<br />
                    You are residing outside South Africa.<br />
                    You are married to, or business partners with, the credit provider.

        section(class='lb-content lb-content_grey')

            form(class='lb-form lb-apply', novalidate, method='post', action='/php/prescribed.debt.php', id='credit_clearance')

                include ../partials/contact-details

                div(class='lb-form-section lb-form-section--inline')
                    label(for='location' class='lb-form-label') Where are you currently situated?

                    div(class='lb-form-section--inline__container')
                        select(class="lb-form-interaction", name='location', id='location', data-form)
                            option(value='Western Cape') Western Cape
                            option(value='Eastern Cape') Eastern Cape
                            option(value='Northern Cape') Northern Cape
                            option(value='North West') North West
                            option(value='Limpopo') Limpopo
                            option(value='Free State') Free State
                            option(value='Gauteng') Gauteng
                            option(value='KwaZulu-Natal') KwaZulu-Natal

                div(class='lb-form-section lb-form-section--inline')
                    label(for='blacklisted', class='lb-form-label') Are you blacklisted?

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='blacklisted', value='yes', class='lb-form-radio', id='blacklisted', data-form, required)
                        label(for='blacklisted', class='lb-form-label lb-form-label--inline') Yes

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='blacklisted', value='no', class='lb-form-radio', id='blacklisted_no', data-form, required)
                        label(for='blacklisted_no', class='lb-form-label lb-form-label--inline') No

                div(class='lb-form-section lb-form-section--inline')
                    label(for='legal', class='lb-form-label') Has a credit provider taken legal action against you?

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='legal', value='yes', class='lb-form-radio', id='legal', data-form, required)
                        label(for='legal', class='lb-form-label lb-form-label--inline') Yes

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='legal', value='no', class='lb-form-radio', id='legal_no', data-form, required)
                        label(for='legal_no', class='lb-form-label lb-form-label--inline') No

                div(class='lb-form-section lb-form-section--inline')
                    label(for='accounts', class='lb-form-label') Are all your accounts paid up?

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='accounts', value='yes', class='lb-form-radio', id='accounts', data-form, required)
                        label(for='accounts', class='lb-form-label lb-form-label--inline') Yes

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='accounts', value='no', class='lb-form-radio', id='accounts_no', data-form, required)
                        label(for='accounts_no', class='lb-form-label lb-form-label--inline') No

                div(class='lb-form-section lb-form-section--inline')
                    label(for='review' class='lb-form-label') Have you previously been under debt review?

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='review', value='yes', class='lb-form-radio', id='review', data-form, required)
                        label(for='review', class='lb-form-label lb-form-label--inline') Yes

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='review', value='no', class='lb-form-radio', id='review_no', data-form, required)
                        label(for='review_no', class='lb-form-label lb-form-label--inline') No

                div(class='lb-form-section lb-form-section--inline')
                    label(for='creditors' class='lb-form-label') How many outstanding accounts do you have?

                    div(class='lb-form-section--inline__container')
                        select(class="lb-form-interaction", name='creditors', id='creditors', data-form)
                            option(value='5') 1 - 5
                            option(value='10') 5 - 10
                            option(value='24') 11 - 24
                            option(value='25+') 25+

                div(class='lb-form-section lb-form-section--inline')
                    label(for='debt' class='lb-form-label') What is the total outstanding debt you owe?

                    div(class='lb-form-section--inline__container')
                        select(class="lb-form-interaction", name='debt', id='debt', data-form)
                            option(value='19999') R5000.00 - R19999.00
                            option(value='49999') R20000.00 - R49999.00
                            option(value='99999') R50000.00 - R99999.00
                            option(value='249999') R100000.00 - R249999.00
                            option(value='250000') R250000+

                div(class='lb-form-section lb-form-section--inline')
                    label(for='callat' class='lb-form-label') Are you currently employed?

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='employed', value='yes', class='lb-form-radio', id='employed', data-form, required)
                        label(for='employed', class='lb-form-label lb-form-label--inline') Yes

                    div(class='lb-form-section--inline__container')
                        input(type='radio', name='employed', value='no', class='lb-form-radio', id='employed_no', data-form, required)
                        label(for='employed_no', class='lb-form-label lb-form-label--inline') No

                div(class='lb-form-section lb-form-section--hidden')
                    input(type='hidden', name='formName', value='prescribed-debt')
                    input(type='hidden', name='isBot', value='')
                    input(type='text', name='clickedCaptcha', value='', data-form, required)

                div
                    span Please tick this box to complete the form

                div(class='lb-form-section')
                    div(class="g-recaptcha" data-sitekey="6LckhBYTAAAAAM_zKRSQ1M9hhgBXavvnHjKbUvTz", data-callback="clicked")
                
                div(class='lb-form-section error-js', style='clear: both;')

                div(class='lb-form-section', style='position: relative;')

                    button(type='submit', name='submit', class='lb-btn lb-btn_action lb-btn_action-pull-right submit-btn-js') Submit

                    div(class='spinner')
                        div(class='double-bounce1')
                        div(class='double-bounce2')

append js
    script(src=assetsPath + 'js/forms-script/common.js')
    script(src='https://www.google.com/recaptcha/api.js')
    include ../partials/scripts/captcha-script
