extends ../extends/default.jade

block title
    title Libertine Consultants | Privacy Policy | Cape Town

block description
    meta(name='description', content='Libertine Consultants privacy policy. This cover how we respect your privacy.')

block variables
    - var activePage    = path + data.privacy[lang].href
    - var english       = path + data.privacy.en.href
    - var afrikaans     = path + data.privacy.af.href

block main

    section(class='lb-hero_internal')

        picture
            source(srcset="#{path}/img/hr_general2_mobile.jpg", media="(max-width: 767px)")
            source(srcset="#{path}/img/hr_general2.jpg", media="(min-width: 768px) and (max-width: 1499px)")
            source(srcset="#{path}/img/hr_general2_big.jpg", media="(min-width: 1500px)")
            img(src="#{path}/img/hr_general2_mobile.jpg", alt="Privacy Policy")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            include ../../svgs/icon-13-privacypolicy.svg

            h1 Privacy Policy

            p(class='lb-content_main-text').
                We understand that privacy online is important to users of our site, especially when conducting business.

        section(class='lb-content lb-content_grey text-center')

            div(class='lb-content-constraint__large')

                p.
                    This statement governs our privacy policies with respect to those users of the Site ("Visitors") who
                    visit without transacting business and Visitors who register to transact business on the Site and make
                    use of the various services offered by Libertine Consultants (collectively, "Services") ("Authorized Customers").

        section(class='lb-content text-center')

            div(class='lb-content-constraint__large')

                h2 Personally Identifiable Information

                p.
                    Refers to any information that identifies or can be used to identify, contact, or locate the person to
                    whom such information pertains, including, but not limited to, name, address, phone number, fax number,
                    email address, financial profiles, and credit card information. Personally Identifiable Information does
                    not include information that is collected anonymously (that is, without identification of the individual
                    user) or demographic information not connected to an identified individual.

        section(class='lb-content lb-content_grey')

            include ../partials/cta/cta-touch.jade

        section(class='lb-content text-center')

            div(class='lb-content-constraint__large')

                h2 What Personally Identifiable Information is collected?

                p.
                    We may collect basic user profile information from all of our Visitors. We collect the following additional
                    information from our Authorised Customers: the names, addresses, phone numbers and email addresses of
                    Authorised Customers, the nature and size of the business, and the nature and size of the advertising inventory
                    that the Authorised Customer intends to purchase or sell.

        section(class='lb-content lb-content_grey text-center')

            div(class='lb-content-constraint__large')

                h2 What organisations are collecting the information?

                p.
                    In addition to our direct collection of information, our third party service vendors (such as credit card companies,
                    clearing houses and banks) who may provide such services as credit, insurance, and escrow services may collect this
                    information from our Visitors and Authorised Customers. We do not control how these third parties use such information,
                    but we do ask them to disclose how they use personal information provided to them from Visitors and Authorised Customers.
                    Some of these third parties may be intermediaries that act solely as links in the distribution chain, and do not store,
                    retain, or use the information given to them.

        section(class='lb-content')

            include ../partials/cta/cta-touch.jade

        section(class='lb-content lb-content_grey text-center')

            div(class='lb-content-constraint__large')

                h2 How does the Site use Personally Identifiable Information?

                p.
                    We use Personally Identifiable Information to customise the Site, to make appropriate service offerings,
                    and to fulfill buying and selling requests on the Site. We may email Visitors and Authorised Customers about
                    research or purchase and selling opportunities on the Site or information related to the subject matter of
                    the Site. We may also use Personally Identifiable Information to contact Visitors and Authorised Customers
                    in response to specific inquiries, or to provide requested information.


        section(class='lb-content text-center')

            div(class='lb-content-constraint__large')

                h2 With whom may the information may be shared?

                p.
                    Personally Identifiable Information about Authorised Customers may be shared with other Authorised
                    Customers who wish to evaluate potential transactions with other Authorised Customers.
                    We may share aggregated information about our Visitors, including the demographics of our
                    Visitors and Authorised Customers, with our affiliated agencies and third party vendors.
                    We also offer the opportunity to "opt out" of receiving information or being contacted by us or
                    by any agency acting on our behalf.


        section(class='lb-content lb-content_grey')

            include ../partials/cta/cta-touch.jade

        section(class='lb-content text-center')

            div(class='lb-content-constraint__large')

                h2 How is Personally Identifiable Information stored?

                p.
                    Personally Identifiable Information collected by Libertine Consultants is securely stored and is not
                    accessible to third parties or employees of Libertine Consultants except for use as indicated above.
                    What choices are available to Visitors regarding collection, use and distribution of the information?

                p.
                    Visitors and Authorised Customers may opt out of receiving unsolicited information from or being
                    contacted by us and/or our vendors and affiliated agencies by responding to emails as instructed,
                    or by contacting us at <a href="#{data.email.href}">#{data.email.name}</a>

        section(class='lb-content lb-content_grey text-center')

            div(class='lb-content-constraint__large')

                h2 Are Cookies Used on the Site?

                p.
                    Cookies are used for a variety of reasons. We use Cookies to obtain information about the preferences
                    of our visitors and the services they select.


        section(class='lb-content text-center')

            div(class='lb-content-constraint__large')

                h2 Links:

                p.
                    This web site contains links to other web sites. Please note that when you click on one of these links,
                    you are moving to another web site. We encourage you to read the privacy statements of these linked sites
                    as their privacy policies may differ from ours.

        section(class='lb-content lb-content_purple')

            include ../partials/cta/cta-red.jade