extends ../extends/default.jade

block title
    title Libertine Consultants | Voluntary Distribution

block description
    meta(name='description', content='Libertine Consultants provide professional voluntary distribution services that allow you to regain control of your finances.')

block variables
    - var activePage    = nav.debt.en.href;
    - var english       = nav.debt.en.href;
    - var afrikaans     = nav.debt.af.href;

block main

    section(class='lb-hero_internal')

        picture
            source(srcset="#{path}/img/hr_debt-services-mobile.jpg", media="(max-width: 767px)")
            source(srcset="#{path}/img/hr_debt-services.jpg", media="(min-width: 768px) and (max-width: 1499px)")
            source(srcset="#{path}/img/hr_debt-services_big.jpg", media="(min-width: 1500px)")
            img(src="#{path}/img/hr_debt-services-mobile.jpg", alt="Voluntary Distribution")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            img(src='#{path}/svg/13-trust.svg', width='120')

            h1 Voluntary Distribution

            p(class='lb-content_main-text').
                Personal service, professional outcomes.

            include ../partials/cta/cta-red


        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')

                h2 What is voluntary distribution?

                p.
                    Voluntary distribution is the predecessor of modern-day debt review. It is the process by which you
                    <strong>voluntarily elect</strong> to have a debt attorney step in to assess your situation, draw up a payment plan and
                    negotiate reduced payment terms with your creditors on your behalf.

        section(class='lb-content')

            div(class='lb-content-constraint__large text-center')

                h2 What does the process entail?

                ul(class="lb-unordered-list")
                    li You complete an application form.
                    li We compare your income and expenses, adjust your budget and determine an amount that you can comfortably pay to your creditors monthly.
                    li We draw up a payment proposal and present it to your creditors for approval.
                    li We handle the monthly payments to your creditors.


        section(class='lb-content lb-content_grey')

            include ../partials/cta/cta-touch

        section(class='lb-content')

            div(class='lb-content-constraint__large text-center')

                h2 Who will make the payment to my creditors?

                p.
                    We make the payments to your creditors on your behalf. You make one monthly payment to our trust
                    account and we handle it from there.

        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')

                h2 What are the pros and cons of choosing voluntary distribution?

                p.
                    Pros: It is a simple, efficient process and our debt attorney will handle the negotiations with your
                    creditors on your behalf.

                p.
                    Cons: Since the process is voluntary your creditors could choose to reject the offer for reduced
                    instalments. However, this is very rarely the case.


        section(class='lb-content')

            include ../partials/cta/cta-touch


        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')

                h2 What does it cost and what will I get?

                p.
                    Our fee is equal to the distribution amount (with a cap of R6000). I.e. if we calculate that you can afford
                    to pay R1000 towards your debts monthly, our fee will be R1000. There is also a monthly distribution
                    fee, which is calculated at 12,5% of the total distribution amount (with a cap of R500).

        section(class='lb-content')

            div(class='lb-content-constraint__large text-center')

                h2 This fee includes:

                ul(class="lb-unordered-list")
                    li A detailed financial assessment
                    li A payment plan
                    li The drafting of letters to your creditors
                    li The delivery of letters to your creditors
                    li All on-going communication with your creditors on your behalf

        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint__large text-center')

                p <strong>How will I know that my creditors are receiving payment?</strong>

                p A proof of payment is saved to your file after each payment and can be provided at any time.

                p <strong>How can I check the balances of my debt?</strong>

                p We can request balances on your behalf if it becomes necessary.

                p <strong>Will I be listed on the ITC if I went under voluntary distribution?</strong>

                p.
                    No, a voluntary distribution itself is not listed on the ITC, but your creditors could elect to list you as a
                    default payer since they will be receiving a reduced instalment.


        section(class='lb-content')

            include ../partials/cta/cta-red

