extends ../../extends/afrikaans
block title
    title Libertine Consultants | Skuldhersiening | Skuldberading
block description
    meta(name='description', content='Libertine Consultants bied effektiewe, deernisvolle skuldberadingsdienste in Kaapstad, Suid-Afrika.')
    meta(name='keyword', content='debt, debts, debt counsellors, debt counsellor, debt lawyers, debt lawyer, debt consultant, debt consultants, debt attorneys')
append css
    // build:inlinecss
    link(rel='stylesheet' href='../css/home/home.css')
    // endbuild
block variables
    - var activePage    = path + data.home.af.href;
    - var english       = path + data.home.en.href;
    - var afrikaans     = path + data.home.af.href;

block main

    section(class='lb-hero')

        div(class='lb-hero-constraint')

            div(class='lb-hero_container')

                h1(class='lb-hero-title') Effektiewe skuldberading met ondersteuning voor,

                p(class='lb-hero-text') na en gedurende die proses verseker dat finansieel oorlaaide individue die beste kans op sukses geniet.

                div(class='lb-cta lb-cta_center lb-cta_large-left')

                    a(href=nav.debt.href class='lb-btn lb-btn_push-right') Find Out More

                    a(href=data.apply.af.href class='lb-btn lb-btn_action') Get Help you Need

                    p(class='lb-cta-text')
                        small Need to talk to us? Call <a href='tel:+27219492211'>+27 (021) 949 2211</a> for advice

    main(role='main')

        section(class='lb-content')

            div(class='text-center')

                img(src=path + '/svg/09-law.svg', width='120')

                h2 Skuldhersiening

                p.
                    Sommige mense vind dit moeilik om te aanvaar dat <strong>skuldhersiening</strong> die enigste manier is om beheer te
                    neem van hul finansies, maar wanneer jy Libertine Consultants saamspan kan jy seker wees dat jou saak
                    met <strong>diskressie, doeltreffendheid en professionaliteit</strong> afgehandel sal word. Ons span <strong>skuldhersieningkonsultante</strong> staan gereed om jou te help om
                    sin te maak van jou finansies sodat jy voortaan sonder die stres en emosionele druk van skuld kan leef.

                div(class='lb-cta lb-cta_center')

                    p
                        small Vind sommer vandag nog uit hoe ons jou van hulp kan wees.

                    a(href=path + data.management.en.href, class='lb-btn') meer in Skuldhersiening

        section(class='lb-content lb-content_purple')

            div(class='lb-content-constraint lb-relative')

                div(class='lb-testimonials lb-bar')

                    blockquote
                        p(class='lb-testimonials-text').
                            Skuldhersiening het ‘n wêreld se verskil aan my lewe gemaak, alhoewel dit moeilik was om dit aan die
                            begin te aanvaar. Dis beslis een van die beste besluite wat ek al in my lewe geneem het.

                    figcaption(class='lb-testimonials-figcaption').
                        Geraldo Strydom

                div(class='lb-testimonials_cta lb-testimonials_cta-absolute')

                    div(class='lb-cta lb-cta_center')

                        p
                            small Take control of finances and simplify your life

                        a(href=data.apply.af.href class='lb-btn lb-btn_white') Get Started


        section(class='lb-content lb-content_grey')

            div(class='lb-content-constraint')

                div(class='text-center')

                    img(src='#{path}/svg/04-debt_mng.svg', width='120')

                    h2 Werkswinkels

                    p.
                        By <strong>Libertine Consulting</strong> glo ons dat voorkoming beter is as genesing, en daarom bied ons elke Woensdag
                        gratis <strong>skuldberading werkswinkels</strong> aan by <strong>besighede en gemeenskapsgeleenthede</strong>.
                        <a href="#{path}#{nav.contact.af.href}" class="lb-link">Kontak ons</a> gerus om
                        ‘n werkswinkel te bespreek vir jou besigheid of meer inligting te kry oor die inhoud van ons kurrikulum.

        section(class='lb-content text-center')

            div(class='lb-content-constraint')

                div(class='lb-stats')

                    img(src=path + '/svg/11-trust.svg', width='120')

                    p Recovering money for our clients <strong>since 2007</strong> - Company no 2008/148827/23

                div(class='lb-stats')

                    img(src=path + '/svg/12-trust.svg', width='120')

                    p We're dealt with over <strong>R100,000,000</strong> in settlements for our clients

                div(class='lb-stats')

                    img(src=path + '/svg/13-trust.svg', width='120')

                    p Our <strong>accomplished and dedicated team</strong> has assisted over <strong>1100 clients</strong>

                div(class='lb-stats')

                    img(src=path + '/svg/NCR_logo.svg', width='120')

                    p Registered with the <a href="http://www.ncr.org.za" target="_blank"><strong>National Credit Regulator</strong></a> - number NCRDC592


        section(class='lb-content lb-content_grey')

                    include ../../partials/cta/cta-red
append js

    append js
        include ../../partials/scripts/home-script