extends ../../extends/afrikaans.jade

block title
    title Contact Libertine Consultants | Debt Counseling | Debt Counselling

block description
    meta(name='description', content='Take control of your finances and simplify your life. Contact Libertine Consultants for efficient, tailor-made debt solutions.')

append css
    // build:inlinecss
    link(rel='stylesheet' href='#{assetsPath}/css/contact/contact.css')
    // endbuild

block variables
    - var activePage    = nav.contact.af.href;
    - var english       = nav.contact.en.href;
    - var afrikaans     = nav.contact.af.href;

block main

    section(class='lb-hero_internal')

        picture
            source(srcset="#{path}/img/header-inner-2-mobile.jpg", media="(max-width: 767px)")
            source(srcset="#{path}/img/hr_contact.jpg", media="(min-width: 768px) and (max-width: 1499px)")
            img(src="#{path}/img/header-inner-2-mobile.jpg", alt="Contact Us - Libertine Consultants")

    main(role='main', class='lb-internal')

        section(class='lb-content lb-content_main')

            img(src='#{path}/svg/02-contact.svg', width='120')
            img(src='#{path}/svg/03-contact.svg', width='120')
            h1 Take control of your future by making the right choices today

            p(class='lb-content_main-text').
                Let’s discuss your case & get the ball rolling

            p.
                We are based in <strong>beautiful, iconic Cape Town</strong> and would love to sit down with you in person to <strong>discuss
                the unique aspects</strong> of your case over a cup of tea or coffee.

            p.
                <a href="#{data.get_touch.href}">Get in touch</a> so we can set the wheels in motion to find the <strong>debt solution</strong> that best suits your requirements.


        section(class='lb-content lb-content_grey', itemscope, itemtype="http://schema.org/LocalBusiness")

            div(class='lb-contact')

                p(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress") <strong>Our office</strong><br>
                    span(itemprop="streetAddress") 4 Kruger Street <br>
                    span(itemprop="streetAddress") Lower Oakdale <br>
                    span(itemprop="addressLocality") Bellville <br>
                    span(temprop="addressRegion") Western Cape, South Africa <br>
                    span(itemprop="postalCode") 7530

            div(class='lb-contact')

                p <strong>Opening hours</strong><br>
                    span(itemprop="openingHours" content="Mo-Fri 08:00-16:30") Monday - Friday <br>
                    span(itemprop="openingHours" content="Mo-Fri 08:00-16:30") 8:00am - 4:30pm <br>
                    span(itemprop="openingHours" content="Sat 08:00-12:30") Saturday <br>
                    span(itemprop="openingHours" content="Sat 08:00-12:30") 8:00am - 12:30pm

            div(class='lb-contact')

                p <strong>General enquries</strong><br>
                    span Telephone:
                    span(itemprop="telephone") <a href='#{data.tel.href}'>#{data.tel.name}</a><br>
                    span Cell:
                    span(itemprop="telephone") <a href='#{data.cell.href}'>#{data.cell.name}</a><br>
                    span Email:
                    span <a href="#{data.email.href}">#{data.email.name}</a>

        section(class='lb-content')

            div(class='lb-contact')

                p(class='lb-social') <strong>Get social with us</strong><br>

                    a(href='#{data.googlePlus.href}', target='_blank', class='lb-social-icon')
                        img(src='#{path}/svg/07-google-plus.svg', width='40')
                    a(href='#{data.facebook.href}', target='_blank', class='lb-social-icon')
                        img(src='#{path}/svg/06-facebook.svg', width='40')
                    a(href='#{data.twitter.href}', target='_blank', class='lb-social-icon')
                        img(src='#{path}/svg/14-twitter.svg', width='40')

            div(class='lb-contact')

                p(class='lb-contact-title') <strong>Enquiry form</strong>

                div(class='lb-cta')
                    a(href=path + data.get_touch.en.href, class='lb-btn') Get in Touch

        section(id='google-map', class='lb-map-canvas')

append js
    include ../../partials/scripts/contact-script