- var nav           = {};
- nav.about         = {en: {href: '/about-us.html', name: 'About Us'}, af: {href: '/af/about-us.html', name: 'About Us'}};
- nav.debt          = {en: {href: '/debt.html', name: 'Debt services'}, af: {href: '/af/debt.html', name: 'Debt services Af'}};
- nav.workshops     = {en: {href: '/workshops.html', name: 'Workshops'}, af: {href: '/af/workshops.html', name: 'Workshops Af'}};
- nav.support       = {en: {href: '/support.html', name: 'Support'}, af: {href: '/af/support.html', name: 'Support Af'}};
- nav.contact       = {en: {href: '/contact-us.html', name: 'Contact'}, af: {href: '/af/maak-kontak.html', name: 'Maak kontak'}};
- nav.apply         = {en: {href: '/apply-debt-relief.html', name: 'Apply for Debt Relief'}, af: {href: '/apply-debt-relief.html', name: 'Apply for Debt Relief Af'}};

- var lang          = (isAfrikaans ? 'af' : 'en');
- var langSub       = (isAfrikaans ? 1 : 0);

mixin menu-item (obj, index)

    - var subLinks = (index === 'more' ? 'linksOptions' : '');

    if obj[lang].href.toLowerCase() == activePage
        li(class='lb-menu-link active #{subLinks}')
            a(href=path + obj[lang].href, title=obj[lang].name)=obj[lang].name
            if obj.sub
                ul(class='submenu')
                    each subVal in obj.sub[langSub]
                        each sub in subVal
                            li
                                a(href=path + sub.href, title=sub.name)=sub.name
    else
        li(class='lb-menu-link #{subLinks}')
            a(href=path + obj[lang].href, title=obj[lang].name)=obj[lang].name
            if obj.sub
                ul(class='submenu')
                    each subVal in obj.sub[langSub]
                        each sub in subVal
                            li
                                a(href=path + sub.href, title=sub.name)=sub.name