- var nav           = {};
- nav.about         = {en: {href: '/how-it-works.html', name: 'How it works'}, af: {href: '/af/how-it-works.html', name: 'Hou dit werk'}};
- nav.debt          = {en: {href: '/debt.html', name: 'Debt services'}, af: {href: '/debt.html', name: 'Debt services Af'}};
- nav.debt.sub      = [{en: [{href: '/about-subs.html', name: 'About subs yo'}, {href: '/about-subss.html', name: 'About subss'}, {href: '/about-sub.html', name: 'About sub'}]}, {af: [{href: '/about-subs.html', name: 'About subs yo af'}, {href: '/about-subss.html', name: 'About subss af'}, {href: '/about-sub.html', name: 'About sub af'}]}];
- nav.more          = {en: {href: '/more.html', name: 'More'}, af: {href: '/more.html', name: 'More af'}};
- nav.more.sub      = [{en: [{href: '/about-us.html', name: 'About us'}, {href: '/workshops.html', name: 'Workshops'}, {href: '/debt-counselling-faq.html', name: 'Support'}, {href: '/contact-us.html', name: 'Contact us'}]}, {af: [{href: '/contact-us.html', name: 'Contact us Af'}]}];

- var lang          = (isAfrikaans ? 'af' : 'en');
- var langSub       = (isAfrikaans ? 1 : 0);

mixin menu-item (obj, index)

    - var subLinks = (index === 'more' ? 'linksOptions' : '');

    if obj[lang].href.toLowerCase() == activePage
        li(class='lb-menu-link active #{subLinks}')
            a(href=path + obj[lang].href, title=obj[lang].name)=obj[lang].name
            if obj.sub
                ul(class='submenu')
                    each subVal in obj.sub[langSub]
                        each sub in subVal
                            li
                                a(href=path + sub.href, title=sub.name)=sub.name
    else
        li(class='lb-menu-link #{subLinks}')
            a(href=path + obj[lang].href, title=obj[lang].name)=obj[lang].name
            if obj.sub
                ul(class='submenu')
                    each subVal in obj.sub[langSub]
                        each sub in subVal
                            li
                                a(href=path + sub.href, title=sub.name)=sub.name