block footer

    footer(class='lb-footer', role='contentinfo')

        div(class='lb-content-constraint')

            section(class='lb-footer-links')
                ul
                    li
                        a(href=path + data.home[lang].href) #{data.home[lang].name}
                    li
                        a(href=path + data.contact[lang].href) #{data.contact[lang].name}
                    li
                        a(href=path + data.testimonials[lang].href) #{data.testimonials[lang].name}
                    li
                        a(href=path + data.privacy[lang].href) #{data.privacy[lang].name}
                    li
                        a(href=path + data.disclaimer[lang].href) #{data.disclaimer[lang].name}
                    li
                        a(href=path + data.careers[lang].href) #{data.careers[lang].name}
                    li
                        a(href=path + data.resources[lang].href) #{data.resources[lang].name}

            section(class='lb-footer-links')
                ul
                    li
                        a(href=path + nav.debt[lang].href) #{nav.debt[lang].name}
                    li
                        a(href=path + data.consolidation[lang].href) #{data.consolidation[lang].name}
                    li
                        a(href=path + data.review[lang].href) #{data.review[lang].name}
                    li
                        a(href=path + data.counselling[lang].href) #{data.counselling[lang].name}
                    li
                        a(href=path + data.admin[lang].href) #{data.admin[lang].name}
                    li
                        a(href=path + data.credit[lang].href) #{data.credit[lang].name}
                    li
                        a(href=path + data.voluntary[lang].href) #{data.voluntary[lang].name}
                    li
                        a(href=path + data.sequestrations[lang].href) #{data.sequestrations[lang].name}
                    li
                        a(href=path + data.management[lang].href) #{data.management[lang].name}


                p &copy; 2007 - 2016 Libertine Consultants - debt companies in <a href="https://www.capetown.gov.za/en/Pages/default.aspx" target="blank">Cape Town</a>, South Africa, all rights reserved.

                p Handcrafted by <a href="http://www.kropka.design/">Kropka</a> and <a href="http://www.webartificer.co.uk/">Web Artificer</a>

            section(class='text-right-medium lb-social')

                p Get social with us

                a(href='#{data.googlePlus.href}', target='_blank', class='lb-social-icon lb-social-icons_white')
                    img(src='#{path}/svg/07-google-plus.svg', width='30')
                a(href='#{data.facebook.href}', target='_blank', class='lb-social-icon lb-social-icons_white')
                    img(src='#{path}/svg/06-facebook.svg', width='30')
                a(href='#{data.twitter.href}', target='_blank', class='lb-social-icon lb-social-icons_white')
                    img(src='#{path}/svg/14-twitter.svg', width='30')

include scripts/footer-scripts.jade
