block footer

    footer(class='lb-footer', role='contentinfo')

        div(class='lb-content-constraint')

            section(class='lb-footer-links')
                ul
                    li
                        a(href=path + data.home[lang].href) #{data.home[lang].name}
                    li
                        a(href=path + data.contact[lang].href) #{data.contact[lang].name}
                    li
                        a(href=path + data.testimonials[lang].href) #{data.testimonials[lang].name}
                    li
                        a(href=path + data.sitemap[lang].href) #{data.sitemap[lang].name}
                    li
                        a(href=path + data.privacy[lang].href) #{data.privacy[lang].name}
                    li
                        a(href=path + data.disclaimer[lang].href) #{data.disclaimer[lang].name}


                p &copy; 2007 - 2016 Libertine Consultants in <a href="https://www.capetown.gov.za/en/Pages/default.aspx" target="blank">Cape Town</a>, South Africa, all rights reserved.

            section(class='text-right-medium lb-social')

                p Get social with us

                a(href='#{data.googlePlus.href}', target='_blank', class='lb-social-icon lb-social-icons_white')
                    img(src='#{path}/svg/07-google-plus.svg', width='30')
                a(href='#{data.facebook.href}', target='_blank', class='lb-social-icon lb-social-icons_white')
                    img(src='#{path}/svg/06-facebook.svg', width='30')
                a(href='#{data.twitter.href}', target='_blank', class='lb-social-icon lb-social-icons_white')
                    img(src='#{path}/svg/14-twitter.svg', width='30')

include scripts/footer-scripts.jade